*,
*::before,
*::after {
  box-sizing: border-box;
}

outlain
:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primari-background-color: #ffffff;
  --second-text-color: #ffffff;
  --second-background-color: #2f303a;
}

body {
  background-color: var(--primari-background-color);
  color: var(--primari-text-color);
  font-family: "roboto", sans-serif;
}

/* Убирает все точки в ul */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primari-text-color);
}
.accent {
  color: #2196f3;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}
.nav-link,
.contakt-link {
  color: var(--primari-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outlain: 
}
.nav-link.current {
  color: var(--accent-color);
}
.contakt-link {
  color: var(--title-text-color);
}
.contakts-list:hover,
.contakts-list:focus {
  color: var(--accent-color);
}
/* Стили для index.html */

/* Hero */
.hero {
  background-color: var(--second-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
/* Button */
.button-hero {
  cursor: pointer;
  background-color: var(--accent-color);
  font-family: inherit;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/* SECTION */
/* Секция особенности */
.title {
  /* font-size: 36px;
  line-height: 1.17;
  text-align: center; */
}
/* Семантическое скрытие элементов */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.section-feature p {
  width: 270px;
}
/* Чем мы занимаемся  */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Команда */
.team-name {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-position {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
}
footer {
  color: var(--primari-background-color);
  background-color: var(--second-background-color);
}
.footer .logo {
  color: var(--second-text-color);
}
.footer .contakt-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}
.adress-link {
  color: var(--second-text-color);
  font-style: normal;
}
.contakt-link:hover {
  color: var(--accent-color);
}
.contakt-link:focus {
  color: var(--accent-color);
}

/* Стили для portfolio.html */

.btn-filter.current {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
.btn-filter {
  cursor: pointer;
  font-family: inherit;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--primari-text-color);
  border-radius: 4px;
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--primari-background-color);
}

.portfolio-subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}
